.logo{
    width: 26px;
    height: 26px;
    background-color: #5E81FE;
    border-radius: 20px;
    position: relative;
    top: 27px;
    left: 117px;
}

.header{
    display: flex;
}

body{
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    position: relative;
    top: 33px;
    left: 216px;
}

.menu-pages{
    padding-left: 42px;
    color: #697CA6;
    text-decoration: none;
}