.logo{
    width: 26px;
    height: 26px;
    background-color: #5E81FE;
    border-radius: 20px;
    top: 27px;
    left: 117px;
    position: relative;
    float: left;
}

.header-content{
    display: inline-block;
    position: relative;
}

body{
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    position: relative;
    justify-content: center;
    float: left;
    left: 216px;
}

.menu-pages{
    padding-right: 42px;
    float: left;
    color: #697CA6;
    text-decoration: none;
    font: Quicksand;
    font-size: 12px;
}

.social-media{
    float: right;
}

.header button{
    float: right;
    width: 113px;
    height: 43px;
    color: #3A79FF;
    border-radius: 0px;
    background-color: #D2E1FF;
    border: 0px;
}